<!doctype html>
<html>
<head>
    <title>Transformer UI</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        [ng\:cloak], [ng-cloak], .ng-cloak {
            display: none !important;
        }
    </style>
</head>

<body ng-app="transformer">

<div class="container">
    <h1>Transformer</h1>
    <div ng-controller="home" ng-cloak class="ng-cloak">

        <table width="100%;">
            <tr>
                <td>
                    <div style="width: 98%; height: 450px;">
                        <p>
                        <textarea ng-model="conversionText"
                                  placeholder="Put the json/yaml/xml data you want to convert here."
                                  style="width: 98%; height: 400px;">
                        </textarea>
                        </p>
                        <label>From:</label>
                        <br>
                        <label>Json:
                            <input type="radio" ng-model="from" value="json">
                        </label>
                        <label>Yaml:
                            <input type="radio" ng-model="from" value="yaml">
                        </label>
                        <label>XML:
                            <input type="radio" ng-model="from" value="xml">
                        </label>
                        <br>
                    </div>
                    <br>
                </td>
                <td>
                    <div style="width: 98%; height: 450px;">
                        <p>
                        <textarea ng-model="convertedText" ng-readonly=true ng-disabled=true
                                  placeholder="Here your converted data will appear."
                                  style="width: 98%; height: 400px;">
                         </textarea>
                        </p>
                        <label>To:</label>
                        <br>
                        <label>Json:
                            <input type="radio" ng-model="to" value="to-json">
                        </label>
                        <label>Yaml:
                            <input type="radio" ng-model="to" value="to-yaml">
                        </label>
                        <label>XML:
                            <input type="radio" ng-model="to" value="to-xml">
                        </label>
                        <br>
                    </div>
                    <br>
                </td>
            </tr>
        </table>
        <button ng-click="convert()" style="width: 100%;" class="btn btn-primary">Convert</button>
    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
<script src="js/transformer.js"></script>
</body>
</html>
